<div align="center" class="Main_information" style="margin-bottom: 20px;">
<h1>Пользовательское соглашение</h1>

<p>Добро пожаловать на наш веб-сайт! Прежде чем продолжить использование нашего сервиса, просим вас внимательно ознакомиться с настоящим пользовательским соглашением.</p>

<h2>1. Общие положения</h2>
<p>1.1. Настоящее соглашение (далее – "Соглашение") регулирует отношения между администрацией веб-сайта (далее – "Администрация") и пользователем данного веб-сайта (далее – "Пользователь").</p>

<h2>2. Предмет соглашения</h2>
<p>2.1. Пользователь соглашается с условиями настоящего соглашения при регистрации на веб-сайте.</p>

<h2>3. Обязательства пользователя</h2>
<p>3.1. Пользователь обязуется несмотря на возможность анонимного посещения сайта предоставлять достоверные и актуальные данные при регистрации.</p>

<h2>4. Ограничение ответственности</h2>
<p>4.1. Администрация не несет ответственности за действия Пользователя, связанные с использованием информации, предоставленной на сайте.</p>

<h2>5. Заключительные положения</h2>
<p>5.1. Настоящее соглашение вступает в силу с момента его акцепта Пользователем.</p>
</div>