<form asp-action="VerificationCodeNumberTelephones" class="CallBackForm" method="post">
    <div>
        <label for="Code">Ваш код с указанного телефона:</label>
        <input type="number" id="Code" name="Code" class="field" placeholder="00000" required>
    </div>
    <button type="submit" name="But">Подтвердить почту</button>
    <p></p>
    <p>Письмо приходит в телеграмм!</p>
</form>