<form asp-action="VerificationCodeEmails" class="CallBackForm" method="post">
    <div>
        <label for="Code">Ваш код с указанной почты:</label>
        <input type="number" id="Code" name="Code" class="field" placeholder="000000" required>
    </div>
    <button type="submit" name="But">Подтвердить почту</button>
    <p></p>
    <p>Если вам не пришло сообщение проверьте спам!</p>
</form>